.cabezera {
    width: 100%;
    background-color: #1f3d2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 30%;
    height: auto;
}

.navegacion {
    width: 100%;
    background-color: #1f3d2b;
    padding: 15px 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 50px; /* más separación entre textos */
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px; /* espacio extra entre textos */
    border-right: 2px solid white; /* línea separadora */
    display: flex;         /* convierte cada enlace en contenedor flexible */
    align-items: center;   /* centra el texto verticalmente */
    justify-content: center; /* centra el texto horizontalmente */
}


.nav-links a:last-child {
    border-right: none; /* quita la línea al final */
}

.nav-links a:hover {
    color: #ffd700;
}

.content-box {
    background: rgba(71, 221, 247, 0.53);
    padding: 20px;
    max-width: auto;
    border-radius: auto;
    height: auto;

}

.cabezera_rap {
    width: 100%;
    background-color: #002944;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion_rap {
    width: 100%;
    background-color: #002944;
    padding: 15px 0;
}

.rapnativo {
    background: rgba(34, 136, 154, 0.447);
    padding: 20px;
    max-width: 180px;
    border-radius: 18px;
    height: 180px;
}

.eleva{
    background: rgba(34, 136, 154, 0.447);
    padding: 20px;
    max-width: 180px;
    border-radius: 18px;
    height: 180px;
}

.eso{
    background: rgba(34, 136, 154, 0.447);
    padding: 20px;
    max-width: 180px;
    border-radius: 18px;
    height: 180px;
}